body{
    max-width: 100%;
    height: 100vh;

}
.navbar-nav{
    margin-left: 20em;
    width: 500px;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    background:linear-gradient(rgb(114, 233, 114),rgb(88, 225, 88));
    width: 150px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.nav-link:hover{
    background:linear-gradient(rgb(114, 233, 114),rgb(88, 225, 88));
    color: white;
    border-radius: 10px;
}
.me-2{
    outline: none;
    border-radius: 10px;
    border:none;
}
.me-2:hover{
    border: 5px solid rgb(88, 225, 88);
}
.carousel-item{
    width:200px;
    border: 2px solid;
}
.carousel-caption{
    background: white;
}
.carousel-inner{
    height: 350px;
}
/* img{
    width:250px;
} */